.App-layout {
  height: 100vh;
}

.App-sider {
  min-width: 15vw !important;
  max-width: 15vw !important;
  background: linear-gradient(
    to right bottom,
    darkslateblue,
    slateblue,
    darkslateblue,
    slateblue,
    darkslateblue,
    slateblue,
    darkslateblue,
    slateblue,
    darkslateblue,
    slateblue,
    darkslateblue,
    slateblue,
    darkslateblue,
    slateblue,
    darkslateblue
  ) !important;
}

.App-sider-header {
  padding: 0;
  text-align: center;
  background: transparent !important;
  border-bottom: 1px solid rgb(175, 175, 175);
}

.App-title {
  color: white;
  font-weight: bold;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.App-sider-menu {
  padding: 1vh 1vw;
  background: transparent !important;
}

.App-header {
  padding: 0;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(106, 90, 205, 0.1),
    rgba(106, 90, 205, 0.2),
    rgba(106, 90, 205, 0.1)
  );
  border-bottom: 1px solid rgb(175, 175, 175);
}

.App-header-label {
  font-size: 20px;
  font-weight: bold;
  font-family: "Alegreya Sans SC", sans-serif;
  letter-spacing: 1px;
}

.App-content-layout {
  overflow-y: auto;
}

.App-content {
  padding: 4vh 2vw;
  background-color: white;
  background: rgba(106, 90, 205, 0.2);
}

.App-footer {
  padding: 0;
  text-align: center;
  border-top: 1px solid rgb(175, 175, 175);
  background: linear-gradient(
    to right,
    rgba(106, 90, 205, 0.1),
    rgba(106, 90, 205, 0.2),
    rgba(106, 90, 205, 0.1)
  );
}

.App-content .App-button {
  background: transparent;
  border-color: #000;
  color: #000;
}

.App-content .App-button:disabled {
  background: transparent;
  border-color: rgba(106, 90, 205, 0.3);
  color: rgba(106, 90, 205, 0.3);
}
