.App-layout {
  height: 100vh;
}

.App-sider {
  min-width: 15vw !important;
  max-width: 15vw !important;
  background: darkslateblue !important;
}

.App-sider-header {
  padding: 0;
  text-align: center;
  background: transparent !important;
  border-bottom: 1px solid rgb(175, 175, 175);
}

.App-title {
  color: white;
  font-weight: bold;
}

.App-sider-menu {
  padding: 1vh 1vw;
  background: transparent !important;
}

.App-header {
  padding: 0;
  text-align: center;
  background-color: transparent;
  border-bottom: 1px solid rgb(175, 175, 175);
}

.App-header-label {
  font-size: 16px;
  font-weight: bold;
}

.App-content-layout {
  overflow-y: auto;
}

.App-content {
  padding: 2vh;
  background-color: white;
}

.App-footer {
  padding: 0;
  text-align: center;
  border-top: 1px solid rgb(175, 175, 175);
}